<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Upwork test</title>
</head>

<body>
    <header>
        <nav>
            <h1>Quantity</h1>
            <input id="quantityInput" min="0" placeholder="Type here">
        </nav>
        <div class="obj" id="obj1">OBJ1</div>
    </header>
    <main>
        <section id="mainContent">
        </section>
        <div class="obj" id="obj3">OBJ3</div>
    </main>

    <script src="script.js"></script>
</body>

</html>